@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300, 400,600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
}

/* =====================
      BASIC STYLES
====================== */
section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, whitesmoke, #807c71, whitesmoke);
    width: 23%;
}








header {
    display: flex;
    height: 55px;
    background-color: #2d2f33;
    /* padding: 35px 100px 0; */
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
}

header h2 {
    margin-left: 50px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, .8);
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

.nav-container nav, .nav-container h2, .hero-title {
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {

    100% {
        opacity: 1;
    }
}

.nav-container nav {
    display: flex;
    height: 50px;
    background-color: #2d2f33;
    align-items: center;
}

.nav-container nav li {
    margin: 0 15px;
    letter-spacing: 1.5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
}

.nav-container nav li a {
    padding-bottom: 1px;
    transition: border-bottom .3s ease-out .2s, opacity .3s ease-in-out .3s;
    opacity: .7;
}

.nav-container nav li a:hover {
    opacity: 1;
}

.nav-container nav li a:focus {
    opacity: 1;
    border-bottom: 1px solid white;
}

/* =====================
      LANDING SECTION
====================== */

.hero-section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0,.6)), url(./../images/journal1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
    /* position: relative; */
    justify-content: center;
  
}

.hero-title {
    /* outline: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 90%;
    /* outline: 1px solid red; */
   
}

.hero-title h1 {
    display: flex;
    justify-content: center;
    /* margin: 0 auto 30px auto; */
    width: 100%;
    outline: 3px solid black;
    color: rgba(255, 255, 255, .8);
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 100;
    /* border-bottom: 1px solid white; */
}

.hero-hr {
    /* height: %; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    width: 100%;

}
.hero-title p {
    display: flex;
    justify-content: center;
    /* outline: 2px solid orange; */
    color: rgba(255, 255, 255, .8);
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    letter-spacing: 4px;
    font-style: italic;
    font-weight: 500;
}

.button-container {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 125px auto 0 auto; */
    justify-content: center;
    align-content: space-between;

}

a.button {
    /* outline: 1px solid blue; */
    padding: 10px 5px;
    margin: 10px auto;
    width: 60%;
    background-color: transparent;
    transition: background-color .4s ease-in .1s, color .4s ease-in .1s;
    border-radius: 1px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .8);
    opacity: 1;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
}

 a.button:hover {
     opacity: 1;
     background-color: rgba(255, 255, 255, .7);
     color: rgba(0,0,0, .7);
 }

/* =====================
      ABOUT SECTION
====================== */

.about-section {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100%;
    /* outline: 1px solid blue; */
}

.about-title {
    display: flex;
    /* outline: 2px solid red; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.4rem;
    height: 10%;
    color: #807c71;
    width: 100%; 
}

.about-title h1{
    display: flex;
    /* outline: 1px solid blue; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 40px;
    text-align: center;
    /* align-self: flex-end; */
}
.about-hr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.about-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* margin-top: 60px; */
    /* outline: 2px solid green; */
}
.about-image {
    display: flex;
    /* outline: 2px solid orange; */
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    height: 60%;
}

.about-image img {
   height: 60%;
   width: 60%;
   box-shadow: 3px 3px 3px #000;
   transform: scale(1.03);
   transition: transform .4s ease-in, opacity .4s ease-in;
   opacity: .7;
   border-radius: 3px;
} 
.about-image img:hover {
    opacity: 1;
    transform: scale(1.07);
}

.about-p {
    display: flex;
    /* outline: 2px solid darkmagenta; */
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.about-p p {
    width: 75%;
    text-align: justify;
    text-indent: 25px;
    padding: 14px 0;
    line-height: 1.4rem;
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
}

.about-p a {
    margin: 40px auto;
    color: #807c71;
    outline: 1px solid #807c71;
    padding: 13px 37px;
    font-size: 1.2rem;
    font-family: 'Cormorant Garamond', serif;
    box-shadow: 5px 5px 5px #2d2f33;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
    background-color: transparent;
    font-style: italic;
}

.about-p a:hover {
    color: white; 
    background-color: rgba(128, 124, 113, 1);
    box-shadow: 5px 5px 5px #2d2f33;
}

/* =====================
      GALLERY SECTION
====================== */

.gallery-section {
    display: flex;
    flex-direction: column;
    /* flax-wrap: wrap; */
    width: 100%;
    height: 100%;
    background-color:#f5f5f5;
    align-content: center;
}

.gallery-title {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 1.4rem;
}
.gallery-title {
    /* color: #807c71; */
    color: #6e5d5d;
    padding: 50px 0 15px 0;
    /* outline: 1px solid green; */
}

.gallery-title h1 {
    margin: 15px;
    
}

.hrgallery {
    display:flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}

.gallery-p {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.5rem;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    width: 80%;
    margin: 40px auto 40px auto;
    border: 6px solid #584b4b;
}


.image {
    display: flex;
    align-content: center;
    flex-basis: 25%;
    justify-content: center;
}

.image img {
    min-height: 230px;
    min-width: 230px;
    max-height: 230px;
    max-width: 230px;
    align-content: center;
    align-self: center;
    padding: 10px 0;
}




