@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300, 400,600');


/* =====================
      BASIC STYLES
====================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
   
}


section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    border: 0;
    height: 1px;
    /* background-image: linear-gradient(to right, whitesmoke, #807c71, whitesmoke); */
    width: 23%;
}

header {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /* padding: 35px; */
    /* margin-bottom: 75px; */
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Cormorant Garamond', serif;
    /* outline: 2px solid blue; */
}

.header-h2 {
 display: flex;
 flex-direction: column;
 align-self: flex-start;
 justify-content: center;
 width: 50%;
 flex-basis: 80%;
 height: 50px;
 letter-spacing: 3px;
 color: rgba(255, 255, 255, .8);
 font-weight: 300;
 font-size: 14px;
 /* font-style: italic; */
 /* outline: 2px solid pink; */
}

.nav-container nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top:25px;
    /* outline: 2px solid green; */
    width: 100%;
}

.nav-container nav li {
    display: flex;
    align-items: center;
    margin: 0 10px;
    /* outline: 1px solid red; */
    padding: 0px 40px 13px 40px;
    letter-spacing: 1.5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}

.nav-container nav li a {
    padding-bottom: 5px;
    transition: border-bottom .3s ease-in-out .2s, opacity .3s ease-in-out .2s;
    opacity: .7;
}

.nav-container nav li a:hover {
    opacity: 1;
}

.nav-container nav li a:focus {
    opacity: 1;
    border-bottom: 1px solid white;
}

.sticky {
    position:fixed;
    top:0;
    /* left:0; */
    width:100%;
    /* outline: 1px solid purple; */
    border-bottom: 2px solid rgba(0,0,0, .2);
}

.sticky nav li a {
    color: rgba(0,0,0,.7);
}

.hero-section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0, .4), rgba(0,0,0,.6)), url(./../images/journal1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    justify-content: center;
    /* outline: 2px solid blue; */
    /* padding-bottom: 25px; */
}

.hero-title-content {
    /* outline: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    min-height: 100%;
    /* margin-top: 20px; */
}
.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    /* margin: 0 auto 30px auto; */
    width: 100%;
    color: rgba(255, 255, 255, .8);
    height: 180px;
    text-align: center;
    margin-top: 180px;
    /* outline: 2px solid blueviolet; */
}
.hero-title h1{
    height: 50px;
    /* outline: 1px solid blue; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.hero-hr {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 8%;
    background-image: linear-gradient(to right, rgb(243, 239, 239), white, rgb(243, 239, 239));
}

.hero-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* outline: 2px solid red; */
    text-align: center;
    height: 100%;
    padding: 5px 0;
    color: rgba(255, 255, 255, .8);
}

.hero-message p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 300;
    /* outline: 1px solid red; */
    height: 35px;
}

.button-container {
    /* outline: 1px solid red */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 200px;
    width: 80%;
    margin: 22px auto 240px auto;
    align-content: center;
    /* padding: 20px 0; */
}

.button-container .button {
    display: flex;
    flex-direction: column;
    align-self: center;
    /* outline: 1px solid blue; */
    padding: 12px 8px;
    /* margin-bottom: 20px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
    background-color: transparent;
    transition: background-color .2s ease-in .1s, color .2s ease-in .1s;
    border-radius: 1px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .8);
    opacity: 1;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 3px;
}

.button-container .button:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, .7);
    color: rgba(0,0,0, .7);
}

 /* animation */
.nav-container nav, .nav-container h2, .hero-title-content {
    animation: 1s fadein 0.4s forwards;
    opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}



/* =====================
      ABOUT SECTION
====================== */

.about-section {
    height: 100%;
    /* min-height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    /* outline: 1px solid blue; */
}

.about-title {
    display: flex;
    /* outline: 2px solid red; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    margin: 150px 0 10px 0;
    width: 100%; 
}

.about-title h1{
    display: flex;
    /* outline: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 2.9rem;
    text-align: center;
    color: #807c71;
    letter-spacing: 3px;
}

.about-hr {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 23%;
    background-image: linear-gradient(to right, whitesmoke, #807c71, whitesmoke);
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* padding-top: 20px; */
    /* margin-top: 60px; */
    /* outline: 2px solid green; */
}

.about-p {
    display: flex;
    /* outline: 2px solid darkmagenta; */
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100%;
    width: 80%;
    /* padding-top: 10px; */
    margin: 40px auto 50px auto;
}

.about-p p {
    width: 60%;
    text-align: justify;
    text-indent: 25px;
    padding: 15px 0 15px 0;
    line-height: 2.5rem;
    letter-spacing: .05rem;
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
}

.about-p a {
    text-align: center;
    margin: 30px auto 40px auto;
    color: #807c71;
    outline: 1px solid #807c71;
    padding: 13px 37px;
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    box-shadow: 5px 5px 5px #2d2f33;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
    background-color: transparent;
    font-style: italic;
    width: 15%;
}

.about-p a:hover {
    color: white; 
    background-color: rgba(128, 124, 113, 1);
    box-shadow: 5px 5px 5px #2d2f33;
}

/* =====================
      GALLERY SECTION
====================== */

.gallery-section {
    display: flex;
    flex-direction: column;
    /* flax-wrap: wrap; */
    width: 100%;
    height: 100%;
    /* min-height: 100%; */
    background-color:#f5f5f5;
    align-content: center;
    /* outline: 2px solid red; */
}

.gallery-title {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: rgba(45, 47, 51, .9);
    padding: 50px 0 15px 0;
    /* color: #807c71; */
    /* outline: 1px solid green; */
}

.gallery-title h1 {
    margin: 50px 15px 15px 15px;
    font-size: 2.9rem; 
    letter-spacing: 3px;
}

.hrgallery {
    display:flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}

.hrgallery hr{
    background-image: linear-gradient(to right, whitesmoke, rgba(45, 47, 51, .9), whitesmoke);
}

.gallery-p {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 2.3rem;
    font-size: 1.6rem;
    letter-spacing: .05rem;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    padding: 10px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    width: 56%;
    margin: 40px auto 100px auto;
    /* border: 6px solid #4f4444; */
}

.image {
    display: flex;
    align-content: center;
    flex-basis: 33.33%;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    /* z-index: 3; */
}

.image img {
    min-height: 310px;
    min-width: 310px;
    max-height: 310px;
    max-width: 310px;
    align-content: center;
    align-self: center;
    /* margin: 0 auto 30px auto; */
    opacity: .7;
    transform: scale(1.15);
    transition: transform .5s, opacity .5s;
}

.image img:hover {
    opacity:1;
    transform: scale(1.03);
}


/* =====================
      CONTACT SECTION
====================== */

.contact-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    /* outline: 2px solid black; */
}

.contact-title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-title h1 {
    color:  rgba(45, 47, 51, .9);
    font-size: 3rem;
    letter-spacing: 3px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.hrcontact {
    display:flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}

.hrcontact hr{
    background-image: linear-gradient(to right, whitesmoke,  rgba(45, 47, 51, .9), whitesmoke);
}

.contact-content {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
    align-content: center;
    /* outline: 1px solid red; */
}

.contact-p {
    width: 50%;
    height: 100%;
    margin: auto 0;
    align-content: center;
    justify-content: center;
}

.contact-p p {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    text-align: justify;
    align-content: center;
    justify-content: center;
    text-indent: 25px;
    padding: 0 0 15px 0;
    line-height: 2.7rem;
    letter-spacing: .05rem;
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    /* outline: 1px solid green; */
}

.contact-form {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100%;
    padding: 10px 0 20px 0;
    /* outline: 2px solid blue; */
}

form {
    display: flex;
    flex-direction: column; 
    /* justify-content: space-between; */
    align-items: center;
    align-self: center;
    height: 100%;
    /* padding: 100px 0; */
    /* margin: 0 0 30px 0; */
    width: 100%;
    border: 3px solid rgba(45, 47, 51, .6);
    box-shadow: 3px 3px 5px rgba(45, 47, 51, .5);
    /* outline: 1px solid red; */
}

.form {
    width:50%;
    margin-bottom: 20px;
    padding: 50px 0;
}

label {
    /* outline: 1px solid green; */
    font-size: 1.5rem;
    letter-spacing: .05rem;
    padding: 10px 0;
}


input {
    margin: 15px 0;
    padding-top: 25px;
    /* outline: 1px solid orange; */
}

input[type=text], input[type=email] {
    width: 50%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    outline: none;

}

input[type=submit] {
    width: 70%;
    background-color: rgba(45, 47, 51, .9);
    color: white;
    padding: 13px 20px;
    margin-top: 50px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    transition: background-color .2s ease-in-out .1s, color .2s ease-in-out .1s;
    /* text-transform: uppercase; */
}

input[type=submit]:hover {
    background-color: #fff;
    border: 1px solid #2d2f33;
    color: #2d2f33;
}



/* =====================
         FOOTER
====================== */
.footer-section {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: space-between; */
    /* align-content: center; */
    /* outline: 1px solid greenyellow; */
    height: 100px;
    width: 100%;
    /* padding: 10px 10px; */
    background-color: #2d2f33
}

footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    /* outline: 2px solid pink; */
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.thanks-container {
    /* display: flex; */
    flex-basis: 33.33%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /* outline: 1px solid red; */
    height: 100%;
 }

.footer-links {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-content: center;
    height: 100%;
    /* flex-wrap: wrap; */
}

 .thanks,
 .learn {
    /* outline: 1px solid green; */
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .4);
 }

 .thanks span {
    color: rgba(255, 255, 255, .4);
    transition: color .2s ease-in-out .1s;
    padding-left: 7px;
 }

 .learn-more {
     display: flex;
     flex-basis: 33.33%;
     justify-content: center;
     align-content: center;
     height: 100%;
 }

 .learn-more p i {
    padding-left: 5px;
    color: rgba(255, 255, 255, .4);
    transition: color .2s ease-in-out .1s;
 }


.footer-li {
    display: flex;
    /* flex-direction: row; */
    flex-basis: 33.33%;
    /* outline: 1px solid blue; */
    margin: 0 0 10px 0;
    /* flex-basis: 70%; */
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    /* padding: 0px 20px 0px 0; */
    /* outline: 2px solid yellow; */
}

footer li {
    display: flex;
    flex-direction: row;
    line-height: 1.4rem;
    justify-content: space-evenly;
    font-size: 1.3rem;
    padding: 15px 0;
    /* padding: 0px 55px 0px 0; */
   
    /* color: rgba(255, 255, 255, .4); */
 }

 footer li a {
     padding: 0 15px;
 }

 footer li a i {
    display: flex;
    color: rgba(255, 255, 255, .4);
    transition: color .2s ease-in-out .1s;
    font-size: 1.9rem;
 }

 footer li a i:hover,
 .learn i:hover,
 .thanks span:hover {
    color: rgba(255, 255, 255, .8);
 }


 footer .footer-p{
    display: flex;
    flex-direction: column;
    /* align-content: flex-start; */
    /* justify-content: center; */
    height: 100%;
    width: 100%;
}
 footer p {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .6);
    letter-spacing: .09rem;
    padding-top: 5px;
    /* outline: 1px solid lightblue; */
}


/* =====================
       MEDIA QUERIES
====================== */

@media screen and (max-width:1500px) {
    .nav-container nav li {
        padding: 13px 30px;
    }

    .about-p a {
        width: 20%;
    }

    .image img {
        min-height: 260px;
        min-width: 260px;
        max-height: 260px;
        max-width: 260px;
    }
}

@media screen and (max-width:1300px) {
    header {
        margin-bottom:35px;
    }

    .hero-title {
        margin-top: 0;
    }

    .nav-container nav li {
        padding: 13px 25px;
    }

    .button-container {
        margin-bottom: 150px;
    }

    .about-title h1{
        font-size: 2.65rem;
    }

    .about-p {
        width: 100%;
    }

    .about-p p {
        width: 57%;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    .gallery-title h1 {
        font-size: 2.65rem;
    }

    .gallery-p {
        line-height: 1.7rem;
        font-size: 1.4rem;
    }
    .gallery-container {
        width: 65%;
    }

    .contact-title h1 {
        font-size: 2.65rem;
    }

    form {
        width:37%;
        padding: 50px 0;
    }  


    .form {
        width:60%;
    }
    
    label {
        /* outline: 1px solid green; */
        font-size: 1.4rem;
        letter-spacing: .05rem;
        padding: 6px 0;
    }
    
    input {
        margin: 3px 0;
        padding-top: 15px;
        /* outline: 1px solid orange; */
    }
    
    input[type=text], input[type=email] {
        width: 55%;
        padding: 5px 20px;
    }
}

@media screen and (max-width:1100px) {
    header {
        margin-bottom:25px;
    }

    .nav-container nav li {
        padding: 13px 20px;
    }

    .hero-title {
        height: 150px;
    }

    .hero-title h1 {
        font-size: 2.4rem; 
    }

    .hero-message p {
        font-size: 1.4em;
    }

    .button-container .button {
        font-size: 1.4rem;
        letter-spacing: 2px;
        padding: 12px 0;
    }

    .about-title h1{
        font-size: 2.65rem;
    }

    .about-p {
        width: 100%;
    }

    .about-p p {
        width: 57%;
        font-size: 1.4rem;
    }

    .about-p a {
        font-size: 1.5rem;
        width: 20%;
    }

    .gallery-title h1 {
        font-size: 2.65rem;
    }

    .gallery-p {
        font-size: 1.4rem;
    }

    .gallery-container {
        width: 63%;
        /* border: 6px solid #4f4444; */
    }
    
    .image img {
        min-height: 250px;
        min-width: 250px;
        max-height: 250px;
        max-width: 250px;
    }

    .contact-title h1 {
        font-size: 2.65rem;
    }

    .contact-p {
        font-size: 1.4rem;
    }

    form {
        width:37%;
    }
    
    .form {
        width: 65%;
    }

}

@media screen and (max-width:1000px) {
    .gallery-container {
       
        height: 70%;
        width: 63%;
        margin: 40px auto 100px auto;
        /* border: 6px solid #4f4444; */
    }
    
    .image img {
        min-height: 210px;
        min-width: 210px;
        max-height: 210px;
        max-width: 210px;
    }
     .thanks,
     .learn {
        /* outline: 1px solid green; */
        font-size: 1.1rem;
     }
    
     footer li a i {
        font-size: 1.6rem;
     }

     footer p {
        
        font-size: 1.1rem;
    }
    
}

@media screen and (max-width:900px) {
    
    .nav-container nav li {
        padding: 13px 15px;
    }

    .about-p p {
        width: 75%;
    }

    .contact-p {
        width: 50%;
    }

    .contact-p p {
        width: 80%;
        font-size: 1.3rem;
    }
    
    .form {
        width: 68%;
    }

    label {
        /* outline: 1px solid green; */
        font-size: 1.3rem;
        letter-spacing: .05rem;
        padding: 6px 0;
    }
    
    input {
        margin: 3px 0;
        padding-top: 12px;
        /* outline: 1px solid orange; */
    }
    
    input[type=text], input[type=email] {
        width: 55%;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 875px) {

    .nav-container nav li {
        padding: 13px 10px;
    }

    .about-p a {
        width: 25%;
    }

    .gallery-container {
        width: 70%;
    }

    .image img {
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
    }

}

@media screen and (max-width:768px) {

    header {
        padding: 35px 15px 35px 0;
    }

    .nav-container nav li {
        padding: 13px 4px;
    }

    .hero-title h1 {
        font-size: 2.3rem; 
        letter-spacing: 3px;
    }

    .hero-hr {
        width: 18%;
    }

    .hero-message p {
        font-size: 1.3em;
    }

    .button-container {
        margin: 5px auto;
    }

    .button-container .button{
        width: 25%;
    }

    .about-title h1{
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    .about-p p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .about-p a {
        font-size: 1.4rem;
        width: 40%;
    }

    .gallery-title h1 {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    .gallery-p {
        line-height: 1.6rem;
        font-size: 1.2rem;
    }

    .gallery-container {
        width: 80%;
    }
    
    .image img {
        min-height: 180px;
        min-width: 180px;
        max-height: 180px;
        max-width: 180px;
    }
    
    .contact-title h1 {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-p {
        width: 100%;
    }

    .contact-p p {
        width: 60%;
    }

    .contact-form {
        width: 100%;
        padding: 30px 0 50px 0;
    }

    .form {
        width: 50%;
    }

    label {
        padding: 8px 0;
    }
    
    input {
        margin: 4px 0;
        padding-top: 12px;
    }
    
    input[type=text], input[type=email] {
        width: 55%;
        padding: 5px 15px;
    }

    .footer-section {
        height: 100%;
    }

    .footer-links {
        flex-direction: column;
        /* outline: 1px solid red; */
    }

    .footer-links .thanks-container {
        /* outline: 1px solid red; */
        order: 1;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .footer-links .footer-li {
        padding-bottom: 5px;
        padding-top: 5px;
        order: 2;
    }
    
    .footer-links .learn-more {
        order: 1;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .thanks-container p, .learn-more p {
        font-size: 1.2rem;
    }


    footer li {
        /* outline: 1px solid red; */
        padding: 0;
    }

    .footer-li {
        margin: 8px 0 0 0;
    }

    .footer-li li a i {
        font-size: 1.3rem;
    }

    footer .footer-p {
        padding-top: 0;
    }

    .footer-p p {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 1rem;
    }
}

@media screen and (max-width:650px) {
    .nav-container nav{
        justify-content: space-around;
    }

    .button-container {
        flex-direction: column;
    }

    .button-container .button{
        width: 65%;
        margin: 10px 0;
    }

    .about-title h1{
        font-size: 2.2rem;
    }

    .about-p p {
        width: 75%;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .about-p a {
        font-size: 1.3rem;
        width: 45%;
    }

    .gallery-title h1 {
        font-size: 2.2rem;
    }

    .gallery-p {
        line-height: 1.6rem;
        font-size: 1.2rem;
    }

    .contact-title h1 {
        font-size: 2.2rem;
    }

    .contact-p p {
        width: 70%;
        letter-spacing: 0.06rem;
    }

    .contact-form {
        width: 100%;
    }

    .form {
        width: 60%;
    }

    label {
        font-size: 1.25rem;
    }
    
    input {
        margin: 4px 0;
        padding-top: 12px;
    }
    
    input[type=text], input[type=email] {
        width: 55%;
    }
    input[type=submit] {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:575px) {
    .hero-title h1 {
        font-size: 2rem;
    }

    .hero-message p {
        font-size: 1.2rem;
    }

    .about-title h1 {
        font-size: 2rem;
    }

    .gallery-title h1 {
        font-size: 2rem;
    }

    .gallery-container {
        flex-direction: column;
        width: 50%;
    }
    
    .image img {
        min-height: 280px;
        min-width: 280px;
        max-height: 280px;
        max-width: 280px;
        width: 100%;
    }

    .contact-title h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .nav-container nav li {
        letter-spacing: 1px;
        /* font-family: 'Cormorant Garamond', serif; */
        font-size: 1.1rem;
    }

    .hero-hr {
        width: 30%;
    }

    .hero-message p {
        font-size: 1.1rem;
        letter-spacing: 2px;
        height: 20px;
    }
    .button-container {
        margin-bottom: 32px;
        /* outline: 1px solid red; */
    }

    .button-container .button {
        font-size: 1.2rem;
        width: 65%;
        margin: 6px 0;
    }

    .about-title h1 {
        letter-spacing: 1px;
    }

    .about-p p {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .gallery-title h1 {
        letter-spacing: 1px;
    }
    
    .gallery-p {
        letter-spacing: 1px;
    }
    .gallery-container {
        width: 55%;
    }
    .image img {
        min-height: 270px;
        min-width: 270px;
        max-height: 270px;
        max-width: 270px;
        /* height: 100%; */
        width: 100%;
        /* margin: 0 auto 30px auto; */
    }

    .contact-title h1 {
        letter-spacing: 1px;
    }

    .contact-form {
        width: 100%;
    }

    .form {
        width: 75%;
    }
}

@media screen and (max-width:450px) {
    .gallery-container {
        width: 63%;
    }
    .gallery-p p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:400px) {
    .hero-message p {
        font-size: .9rem;
        letter-spacing: 1px;
    }

    .about-title h1 {
        font-size: 1.8rem;
        letter-spacing: 0;
    }
    .about-p {
        width: 85;
    }

    .about-p p {
        font-size: 1rem;
        letter-spacing: 0;
    }

    .gallery-title h1 {
        font-size: 1.8rem;
        letter-spacing: 0;
    }

    .gallery-p {
        letter-spacing: 0;
        font-size: 1rem;
    }

    .contact-title h1 {
        font-size: 1.8rem;
        letter-spacing: 0;
    }

    .contact-p p {
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
    }

    .footer-p p {
        font-size: .9rem;
    }

    .thanks-container p, .learn-more p {
        font-size: 1rem;
    }
}
@media screen and (max-width:360px) {
    .about-p a {
        font-size:1.1rem;
        width: 60%;
    }
}
@media screen and (max-width:320px) {
    
}








